<h1>Список фирм-исполнителей епта</h1>



<ul id="subject_list">
<% @firms.each do |c| %>

<!-- <li><%= link_to c.name, :action => 'edit', :id => c.id %> <%= link_to "Накуй его", c, method: :delete, :id => c.id %></li>    -->
<%= render 'firm2', :cc=>c %>

<% end %>
</ul>

<br />

<%= render 'form'  %>
